<ion-header>
  <ion-navbar>
    <ion-title text-center>
      FaceRecognition
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button icon-start outline block color="dark" (click)="onTakePicture()">
    <ion-icon name="camera"></ion-icon>
    Take a picture
  </button>

  <button ion-button icon-start outline block color="dark" (click)="onChooseImageFromGallery()">
    <ion-icon name="image"></ion-icon>
    Choose from gallery
  </button>

  <img *ngIf="image" [src]="domSanitizer.bypassSecurityTrustUrl(image)">

  <button *ngIf="image" ion-button icon-end color="secondary" block (click)="addPerson()">
    Submit
    <ion-icon name="checkmark"></ion-icon>
  </button>

  <ion-card-content *ngIf="response">
    {{response}}
  </ion-card-content>

</ion-content>
