<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <button ion-button icon-rigth (click)="onTakePicture()">
        Take a picture
        <ion-icon name="camera"></ion-icon>
      </button>

      <button ion-button icon-rigth (click)="onChooseImageFromGallery()">
        Choose from gallery
        <ion-icon name="image"></ion-icon>
      </button>

      <img *ngIf="image" [src]="domSanitizer.bypassSecurityTrustUrl(image)">

      <button *ngIf="image" ion-button icon-rigth (click)="getPerson()">
        Whose is the picture
      </button>
        <ion-card-content *ngIf="response">
          {{response}}
        </ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
